<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href= "{{url_for('static',filename='css/download.css')}}">
    <title>青理動画作成</title>
</head>



<body>
    <header class="header-nav">
        <nav><a href="/">toppage</a></nav>

    </header>

    <div class="first-container">
        <a href="../static/movies/final_cat.mp4"download="青理選手紹介.mp4" class="btn-circle-3d-dent_1">ダウンロード</a>
        <a href="/" class="button">ホームに戻る</a>
    </div>

    <footer>
        <small>&copy;2023 Keisuke</small>
    </footer>
    
</body>
</html>