<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href= "{{url_for('static',filename='css/index.css')}}">
    <title>青理動画作成</title>
</head>



<body>
    <header class="header-nav">
        <nav><a href="/">stay</a></nav>

    </header>

    <div class="first-container">
        <a href="/movie_make" class="btn-circle-3d-dent_1">動画を作る</a>
        <a href="#" class="btn-circle-3d-dent_2">動画を編集する</a>
        
    </div>

    <footer>
        <small>&copy;2023 Keisuke</small>
    </footer>
    
</body>
</html>